{% extends "base.html" %}

{% block content %}
    <div class="Introduction">
        <h1>CFPB Complaints and Actions</h1>
        <div class="subtitle">People think consumer finance companies are:
            <div id="word">bad</div>
        </div>
    </div>

    <div class="Definitions">
        <h2>Definitions</h2>
        <div class="container">
            <div class="textBox">
                <h2>What is the CFPB?</h2>
                <h3>The Consumer Financial Protection Bureau (CFPB) is a regulator that polices companies such as lenders, debt collections agencies, credit reporting agencies, and other companies that engage in consumer finance with members of the public. </h3>
            </div>
            <div class="textBox">
                <h2>What are complaints?</h2>
                <h3>Individuals detail anonymized messages about their interaction with companies that they feel have wronged them.
                Information includes the company the consumer is complaining about, the product about which they have a complaint (e.g., credit cards, payday loans), and various sub-topics that consumers fill in as a survey when registering their complaint.</h3>
            </div>
            <div class="textBox">
                <h2>What are enforcement actions?</h2>
                <h3>As a regulatory agency, the CFPB can take action against any finance company that it rules takes advantage of consumers. Enforcement actions range from reimbursements of funds to punitive damages in consumers’ favor that can tally in the hundreds of millions of dollars.</h3>
            </div>
        </div>
    </div>

    <div class="block graph1">
        <h2>Complaints and Actions 2010 - Present</h2>
        <div class="container">
            <div class="lgGraphBox">
            <img src="{{ url_for('static', filename='images/all_complaints_line.png') }}" alt="data" class="lgGraphBox">
            </div>
            <div class="graphTextBox">
                <h2>Text About Graph</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tristique dignissim tortor, eu ornare libero. Fusce dui dui, consequat sit amet scelerisque ut, vehicula ac sem. Nullam ex nibh, blandit rhoncus ipsum eu, egestas dignissim
                    mi. Curabitur pharetra est ac urna gravida, ut facilisis augue mollis. Vivamus vestibulum tristique maximus. Maecenas dapibus nec purus at iaculis. Morbi ultrices tristique laoreet. Donec porttitor elementum nisi, quis sagittis felis
                    viverra non. Quisque nec mauris in leo accumsan auctor. Ut id metus malesuada, varius dolor vel, fringilla diam. Nulla facilisi.</p>
            </div>
        </div>
    </div>

    <div class="summary">
        <!-- <h4>Summary Text</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tristique dignissim tortor, eu ornare libero. Fusce dui dui, consequat sit amet scelerisque ut, vehicula ac sem. Nullam ex nibh, blandit rhoncus ipsum eu, egestas dignissim mi. Curabitur
            pharetra est ac urna gravida, ut facilisis augue mollis. Vivamus vestibulum tristique maximus. Maecenas dapibus nec purus at iaculis. Morbi ultrices tristique laoreet. Donec porttitor elementum nisi, quis sagittis felis viverra non.orem ipsum
            dolor sit amet, consectetur adipiscing elit. Vivamus tristique dignissim tortor, eu ornare libero. Fusce dui dui, consequat sit amet scelerisque ut, vehicula ac sem. Nullam ex nibh, blandit rhoncus ipsum eu, egestas dignissim mi. Curabitur
            pharetra est ac urna gravida, ut facilisis augue mollis. Vivamus vestibulum tristique maximus. Maecenas dapibus nec purus at iaculis. Morbi ultrices tristique laoreet. Donec porttitor elementum nisi, quis sagittis felis viverra non. Quisque
            nec mauris in leo accumsan auctor. Ut id metus malesuada, varius dolor vel, fringilla diam. Nulla facilisi. orem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tristique dignissim tortor, eu ornare libero. Fusce dui dui, consequat
            sit amet scelerisque ut, vehicula ac sem. Nullam ex nibh, blandit rhoncus ipsum eu, egestas dignissim mi. Curabitur pharetra est ac urna gravida, ut facilisis augue mollis. Vivamus vestibulum tristique maximus. Maecenas dapibus nec purus at
            iaculis.
        </p> -->

    </div>
    </div>

    <div class="block graph2">
        <h2>Complaints and Actions by Company & Product</h2>
        <div class="container">
            <div class="graphBox">
            <img src="{{ url_for('static', filename='images/product_bar_chart_w_narrative.png') }}" alt="data" class="lgGraphBox">
            </div>
            <div class="graphTextBox">
                <h2>Text About Graph</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tristique dignissim tortor, eu ornare libero. Fusce dui dui, consequat sit amet scelerisque ut, vehicula ac sem. Nullam ex nibh, blandit rhoncus ipsum eu, egestas dignissim
                    mi. Curabitur pharetra est ac urna gravida, ut facilisis augue mollis. Vivamus vestibulum tristique maximus. Maecenas dapibus nec purus at iaculis. Morbi ultrices tristique laoreet. Donec porttitor elementum nisi, quis sagittis felis
                    viverra non. Quisque nec mauris in leo accumsan auctor. Ut id metus malesuada, varius dolor vel, fringilla diam. Nulla facilisi.</p>
            </div>
        </div>
    </div>
<div class="summary">
    <div class="Methodology">
        <h4>Intro to Methodology</h4>
        <p>
            There are more than 750,000 public complaints on file in the CFPB complaints database since it began accepting complaints in 2011 and among those more than 150,000 have narrative descriptions. Beyond the narrative and product descriptions, the CFPB reports.
            The data was accessed and remains up-to-date via an API developed by Socrata for the CFPB.
        </p>
        <h4>Modeling</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tristique dignissim tortor, eu ornare libero. Fusce dui dui, consequat sit amet scelerisque ut, vehicula ac sem. Nullam ex nibh, blandit rhoncus ipsum eu, egestas dignissim mi. Curabitur
            pharetra est ac urna gravida, ut facilisis augue mollis. Vivamus vestibulum tristique maximus. Maecenas dapibus nec purus at iaculis. Morbi ultrices tristique laoreet. Donec porttitor elementum nisi, quis sagittis felis viverra non.orem ipsum
            dolor sit amet, consectetur adipiscing elit. Vivamus tristique dignissim tortor, eu ornare libero. Fusce dui dui, consequat sit amet scelerisque ut, vehicula ac sem. Nullam ex nibh, blandit rhoncus ipsum eu, egestas dignissim mi. Curabitur
            pharetra est ac urna gravida, ut facilisis augue mollis. Vivamus vestibulum tristique maximus. Maecenas dapibus nec purus at iaculis. Morbi ultrices tristique laoreet. Donec porttitor elementum nisi, quis sagittis felis viverra non. Quisque
            nec mauris in leo accumsan auctor. Ut id metus malesuada, varius dolor vel, fringilla diam. Nulla facilisi. orem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tristique dignissim tortor, eu ornare libero. Fusce dui dui, consequat
            sit amet scelerisque ut, vehicula ac sem. Nullam ex nibh, blandit rhoncus ipsum eu, egestas dignissim mi. Curabitur pharetra est ac urna gravida, ut facilisis augue mollis. Vivamus vestibulum tristique maximus. Maecenas dapibus nec purus at
            iaculis.
        </p>
    </div>
</div>
    <div class="block graph2">
        <h2>Methods/Models</h2>
        <div class="container">
            <div class="graphBox">
                <img src="{{ url_for('static', filename='images/conceptual_topic_modeling_raw.png') }}" alt="topic conceptual raw">
            </div>
            <div class="graphTextBox">
                <img src="{{ url_for('static', filename='images/conceptual_topic_modeling_model.png') }}" alt="topic conceptual">
            </div>
        </div>
    </div>

{% endblock %}